@import './partials/blockquote';

body {
  --background-blue: #00aeef;
}

// General styles
a {
  border-bottom: 2px solid #00000030;
  text-decoration: none;
  color: #333
}

::-moz-selection {
  background: #00aeef
}

::selection {
  background: #00aeef
}

strike,
del {
  color: #32323a
}
body {
  font-size: 1.188em;
  line-height: 1.474;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8A/dsp/wfbAwFy+CMuAAAAAElFTkSuQmCC);
  /* #FDDB29 */
  // background-color: hsl(51, 100%, 59%);
  background-color: white;
  /* fallback */
  color: #000;
  -webkit-font-feature-settings: "kern"1, "liga"1, "calt"1;
  -moz-font-feature-settings: "kern"1, "liga"1, "calt"1;
  font-feature-settings: "kern"1, "liga"1, "calt"1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
  // font-family: ;
}


cite {
  font-style: italic;
}


h3 {
  line-height: 2rem;
}

body {
	color: #32323a;
}
h1, h2, h3, h4, h5, h6, code, b, strong, dt, th, captio, label {
	color: #18181e;
}
a, a:visited {
	border-color: #d9d9dc;
  color: #32323a;
  cursor: pointer;
}
a:hover, a:active {
	color: #00aeef;
}


#reactions {
  display:none
}

.aligncenter,
.alignright,
.alignleft {
  text-align: center;
  display:block;
  margin:1em auto;
}

@media only screen and (min-width: 33.75em) {

  .alignright {
    float: right;
    padding: 0 0 1rem 1rem;
  }

  .alignleft {
    float: left;
    padding: 0 1rem 1rem 0;
  }

}

article header time, .blog .article-content, .archive .article-content,
.search-results .article-content, .post-navigation, p.post-meta, ol.commentlist,
ol.commentlist li, ol.commentlist img.avatar, ol.commentlist ul.children li,
input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], textarea, select, .footer-widgets li, article header .client-name,
p.folio-services, .portfolio-wrapper, table.vertical-table th {
	border-color: #d9d9dc;
}
ol.commentlist .bypostauthor > div img.avatar, input[type=text]:focus,
input[type=email]:focus, input[type=url]:focus, input[type=password]:focus,
input[type=search]:focus, textarea:focus, select:focus {
	border-color: #32323a;
}
input[type=submit] {
	background-color: #32323a;
}
footer[role='complimentary'] {
	background-color: #18181e;
}
.contact {
  margin: 0 auto;
}
.contact input[type=text],
.contact input[type=email],
textarea {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: .2rem .5rem;
}
.contact button {
  font-weight: 700;
  border: 1px solid rgb(227, 227, 227);
  padding: .5rem 2rem;
  border-radius: 30px;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
 code[class*='language-'],
 pre[class*='language-'] {
  //  color: white;
   background: none;
  //  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
   font-feature-settings: normal;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   margin-bottom: 0;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 /* Code blocks */
 pre[class*='language-'] {
   overflow: auto;
   padding: 1.3125rem;
 }

 pre[class*='language-']::-moz-selection {
   /* Firefox */
   background: hsl(207, 4%, 16%);
 }

 pre[class*='language-']::selection {
   /* Safari */
   background: hsl(207, 4%, 16%);
 }

 /* Text Selection colour */
 pre[class*='language-']::-moz-selection,
 pre[class*='language-'] ::-moz-selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }

 pre[class*='language-']::selection,
 pre[class*='language-'] ::selection {
   text-shadow: none;
   background: hsla(0, 0%, 100%, 0.15);
 }

 /* Inline code */
 :not(pre) > code[class*='language-'] {
   border-radius: 0.3em;
   background: var(--inlineCode-bg);
   color: var(--inlineCode-text);
   padding: 0.15em 0.2em 0.05em;
   white-space: normal;
 }
.wrapper404 {

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.error404Title {
  text-transform: uppercase;
  font-size:2em;
  text-align:center;
  margin-bottom: 1em;
}
.error404Image {
  display:inline-block;
  text-align:right
}
.error404Message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: var(--background-blue);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.error404Message {
	position: relative;
	background-color:var(--background-blue);
  text-transform: uppercase;
  font-family: sans;
  font-weight: bold;
  color: White;
  padding: .5em;
  display:inline-block;
}
