// General styles
a {
  border-bottom: 2px solid #00000030;
  text-decoration: none;
  color: #333
}

body {
  font-size: 1.188em;
  line-height: 1.474;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8A/dsp/wfbAwFy+CMuAAAAAElFTkSuQmCC);
  /* #FDDB29 */
  // background-color: hsl(51, 100%, 59%);
  background-color: white;
  /* fallback */
  color: #000;
  -webkit-font-feature-settings: "kern"1, "liga"1, "calt"1;
  -moz-font-feature-settings: "kern"1, "liga"1, "calt"1;
  font-feature-settings: "kern"1, "liga"1, "calt"1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
  // font-family: ;
}

@media only screen and (min-width: 56.25em) {
  div[role=main] {
    padding: .5em 3.7% 0.938em;
  }
}

cite {
  font-style: italic;
}

pre,
blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.714em;
  overflow: auto;
  overflow-y: hidden;
  padding: 1.429em 1.429em;
  transition: 100ms linear background;
}

h3 {
  line-height: 2rem;
}

body {
	color: #32323a;
}
h1, h2, h3, h4, h5, h6, code, b, strong, dt, th, captio, label {
	color: #18181e;
}
a, a:visited {
	border-color: #d9d9dc;
  color: #32323a;
  cursor: pointer;
}
a:hover, a:active {
	color: #00aeef;
}
.main-nav li a:hover, .main-nav li.current-menu-item a {
	background-color: #00aeef;
}
.secondary-content, code, pre {
	background-color: #f2f2fc;
}
pre code {
	background-color: transparent;
}
article header time, .blog .article-content, .archive .article-content,
.search-results .article-content, .post-navigation, p.post-meta, ol.commentlist,
ol.commentlist li, ol.commentlist img.avatar, ol.commentlist ul.children li,
input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], textarea, select, .footer-widgets li, article header .client-name,
p.folio-services, .portfolio-wrapper, table.vertical-table th {
	border-color: #d9d9dc;
}
ol.commentlist .bypostauthor > div img.avatar, input[type=text]:focus,
input[type=email]:focus, input[type=url]:focus, input[type=password]:focus,
input[type=search]:focus, textarea:focus, select:focus {
	border-color: #32323a;
}
input[type=submit] {
	background-color: #32323a;
}
footer[role='complimentary'] {
	background-color: #18181e;
}
@media only screen and ( min-width: 43.75em ) {
	.main-nav li a {
		color: #32323a;
	}
	.main-nav li a:hover, .main-nav li.current-menu-item a {
		background-color: transparent;
		color: #00aeef;
	}
	.main-nav li li a:hover, .main-nav li li.current-menu-item a {
		background-color: #00aeef;
	}
	.main-nav li .dd-indicator {
		color: #32323a;
	}
}

::-moz-selection {
  background: #00aeef
}

::selection {
  background: #00aeef
}

strike,
del {
  color: #32323a
}
#reactions {
  display:none
}

.alignright,
.alignleft {
  text-align: center;
  display:block;
  margin:1em auto;
}
@media only screen and (min-width: 33.75em) {

  .alignright {
    float: right;
    padding: 0 0 1rem 1rem;
  }

  .alignleft {
    float: left;
    padding: 0 1rem 1rem 0;
  }

}
