@import './partials/blockquote';

// General styles
a {
  border-bottom: 2px solid #00000030;
  text-decoration: none;
  color: #333
}

::-moz-selection {
  background: #00aeef
}

::selection {
  background: #00aeef
}

strike,
del {
  color: #32323a
}
body {
  font-size: 1.188em;
  line-height: 1.474;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8A/dsp/wfbAwFy+CMuAAAAAElFTkSuQmCC);
  /* #FDDB29 */
  // background-color: hsl(51, 100%, 59%);
  background-color: white;
  /* fallback */
  color: #000;
  -webkit-font-feature-settings: "kern"1, "liga"1, "calt"1;
  -moz-font-feature-settings: "kern"1, "liga"1, "calt"1;
  font-feature-settings: "kern"1, "liga"1, "calt"1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
  // font-family: ;
}


cite {
  font-style: italic;
}


h3 {
  line-height: 2rem;
}

body {
	color: #32323a;
}
h1, h2, h3, h4, h5, h6, code, b, strong, dt, th, captio, label {
	color: #18181e;
}
a, a:visited {
	border-color: #d9d9dc;
  color: #32323a;
  cursor: pointer;
}
a:hover, a:active {
	color: #00aeef;
}


#reactions {
  display:none
}

.alignright,
.alignleft {
  text-align: center;
  display:block;
  margin:1em auto;
}

@media only screen and (min-width: 33.75em) {

  .alignright {
    float: right;
    padding: 0 0 1rem 1rem;
  }

  .alignleft {
    float: left;
    padding: 0 1rem 1rem 0;
  }

}

article header time, .blog .article-content, .archive .article-content,
.search-results .article-content, .post-navigation, p.post-meta, ol.commentlist,
ol.commentlist li, ol.commentlist img.avatar, ol.commentlist ul.children li,
input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], textarea, select, .footer-widgets li, article header .client-name,
p.folio-services, .portfolio-wrapper, table.vertical-table th {
	border-color: #d9d9dc;
}
ol.commentlist .bypostauthor > div img.avatar, input[type=text]:focus,
input[type=email]:focus, input[type=url]:focus, input[type=password]:focus,
input[type=search]:focus, textarea:focus, select:focus {
	border-color: #32323a;
}
input[type=submit] {
	background-color: #32323a;
}
footer[role='complimentary'] {
	background-color: #18181e;
}
.contact {
  margin: 0 auto;
}
.contact input[type=text],
.contact input[type=email],
textarea {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  padding: .2rem .5rem;
}
.contact button {
  font-weight: 700;
  border: 1px solid rgb(227, 227, 227);
  padding: .5rem 2rem;
  border-radius: 30px;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
