.post {

  &:hover .date {
    opacity: 1;
  }

  .title {
    display:inline-block;
    padding-right: .5rem;
    font-size:1rem;
    font-weight: 200

    a {
      text-decoration: none;
      color: Black;
    }
    a:hover {
      border-color: currentColor;
    }
  }
  .date {
    display: inline-block;
    opacity:.9;
  }
}
