.post {
  display: block;
  margin-bottom: 2em;

  &:hover .date {
    opacity: 1;
  }

  .title {
    display: inline-block;
    padding-right: 0.5rem;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 0.2rem;

    a {
      text-decoration: none;
      color: Black;
      border: 0 none;
    }

    a:hover {
      border-color: currentColor;
      color: var(--brand-color-blackberry);
      border-bottom: 1px dashed var(--brand-color-peach);
    }
  }

  .date {
    letter-spacing: 1px;
    font-size: 0.7em;
    // text-transform: uppercase;
    display: block;
    opacity: 0.9;
  }

  @media (max-width: 767px) {
    margin: 0 0.8em 1em 0.8em;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    margin: 0 0 1em 6em;
  }
}
.postsWrapperTitle {
}

.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin: 0.5em;
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }

  > * {
    flex: 0 0 50%;
  }
}
