$linkHover: #00aeef;

@media (max-width: 767px) {

  .post {
    margin: 0 .8em;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
 .post {
   margin-left:6em;
 }
}

.post {
  display:block;
  margin-bottom:2em;

  &:hover .date {
    opacity: 1;
  }

  .title {
    font-family: 'Crimson Text', serif;
    display: inline-block;
    padding-right: .5rem;
    font-size:1.3rem;
    font-weight: 200;
    margin-bottom:.2rem;

    a {
      text-decoration: none;
      color: Black;
      border: 0 none;
    }

    a:hover {
      border-color: currentColor;
      color: $linkHover;
    }
  }

  .date {
    font-family: Lato;
    letter-spacing: 1px;
    font-size:.7em;
    text-transform: uppercase;
    display: inline-block;
    opacity:.9;
  }
}
