$headerColor: #161618;
$headerTitleColor: #ddd;
$textColor : #32323a;
$textColorHover : Black;
$linkHover: #00aeef;

div[role=main] {
    background-color: #fff;
    padding: 0.938em 0.938em 0.313em;
}

.pageWrapper {
  margin: 0 auto;
  position: relative;
}


@media only screen and (min-width: 56.25em) {
  .pageWrapper {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 47em;
  }
}
@media only screen and (min-width: 33.75em) {
  .pageWrapper {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}

.siteTitle {
  text-align: center;
  margin-top:1.2rem;
  display: block;
  color: $headerTitleColor;

  a {
    text-decoration: none;
    border: 0 none;
  }
}

.Header {
  margin-bottom: 2rem;
}

.Footer {
  margin-top: 2rem;
  font-size: .8rem;
}
