.post {
  p {
    line-height: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
  }

  .postInfo {
    text-align: center;
    margin-bottom: 4rem;
  }

}


.meta {
  color: #696975;
  text-align: center;

  .title {
    color: #222;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    // margin-top: 1em;
    padding-bottom: 0;
    line-height: 1.316;
    font-size: 1.9em;
    margin: 0 -.2em 1em -.2em;
  }

  .author {
    margin-bottom: 1.5rem;
    font-size: .8em;
  }

  .date {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size:.6em;
    text-transform: uppercase;
    letter-spacing: 0.167em;
    border-bottom: 1px solid rgb(217, 217, 220);
    display:inline-block;

    margin: 0 0 1.167em;
    padding-bottom: 1.083em;
  }
}

@media only screen and (min-width: 33.75em) {
  .post {

    h3 {
      font-size: 1.5em;
      line-height: 1.129;
      margin-bottom: 0.903em;
    }

    p, ul, ol, dl, table {
       line-height: 1.474;
       margin-bottom: 1.474em;
   }

  }

}
