---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
import { Image } from 'astro:assets';
import profilePic from "../../public/profile-pic.jpg";

import Workline from "@/components/Workline.astro";


// 🔧 Datos de ejemplo: cambia rutas y textos
const workItems = [
  {
    title: "SITUM • Indoor Maps",
    eyebrow: "Map Viewer & 3D Layers",
    subtitle: "Tech Lead — 2019–Now",
    description:
            "Currently I'm helping to create the visual part of Situm, an awesome company that helps multiple industries to position their users (robots and people) indoors while doing Business Intelligence on gathered data.",
    ctaHref: "https://situm.com",
    ctaLabel: "Ver producto",
    images: [
      { src: "/images/projects/situm/1.jpeg" },
      { src: "/images/projects/situm/2.jpeg" },
      { src: "/images/projects/situm/3.png" },
      { src: "/images/projects/situm/4.png" },
    ],
  },

  {
    title: "GNOME • Open Source Project",
    eyebrow: "Contributions and Galician translations",
    subtitle: "Maintainer / Contributor - 2006–Now",
    description:
      "I've been contributing for more than 15 years to the GNOME project, focusing on i18n and tooling for translations.",
          ctaHref: "https://l10n.gnome.org/teams/gl",
    ctaLabel: "Ver pagina",
    images: [
      { src: "/images/projects/gnome/1.png" },
      { src: "/images/projects/gnome/2.png" },
    ],
  },
  {
      title: "OpenNemas",
      eyebrow: "High performance news publishing platform",
      subtitle: "Head of Research and Development — 2009–2019",
      description:
          "Before I've been proudly creating different tools focused on high performance and heavy loaded systems that helped journalists to maintain online newspapers, developing OpenNemas.",
      ctaHref: "http://www.opennemas.com/",
      ctaLabel: "Ver producto",
      images: [
          { src: "/images/projects/opennemas/1.jpeg" },
          { src: "/images/projects/opennemas/2.jpeg" },
      ]
  },
  {
        eyebrow: "Open Source Consultant",
        title: "University of Santiago de Compostela",
        description:
            "Prior to that I've been working as an open-source software consultant at the University of Santiago de Compostela, where I've developed a custom Linux-based desktop to simplify administrative tasks and also did massive migrations to open source software in educational settings. This project won the Libre Software contest in Galicia, Spain.",
        link: "http://www.mancomun.org/es/no_cache/actualidade/detalledenova/nova/a-osl-da-usc-gana-o-premio-eganet-2009-na-categoria-software-libre/",
        images: [
            { src: '/images/projects/oslusc/1.jpeg' },
            { src: '/images/projects/oslusc/2.jpeg' },
            { src: '/images/projects/oslusc/3.jpeg' },
        ]
    },
];
const events = [
    {
        title: "Situm",
        description:
            "Currently I'm helping to create the visual part of Situm, an awesome company that helps multiple industries to position their users (robots and people) indoors while doing Business Intelligence on gathered data.",
        link: "https://situm.es/es",
        images: [
            '/images/projects/situm/1.jpeg',
            '/images/projects/situm/2.jpeg',
            '/images/projects/situm/3.png',
            '/images/projects/situm/4.png',
        ]
    },
    {
        title: "OpenNemas",
        description:
            "Before I've been proudly creating different tools focused on high performance and heavy loaded systems that helped journalists to maintain online newspapers, developing OpenNemas.",
        link: "http://www.opennemas.com/",
        images: [
            '/images/projects/opennemas/1.jpeg',
            '/images/projects/opennemas/2.jpeg',
        ]
    },
    {
        title: "University of Santiago de Compostela",
        description:
            "Prior to that I've been working as an open-source software consultant at the University of Santiago de Compostela, where I've developed a custom Linux-based desktop to simplify administrative tasks and also did massive migrations to open source software in educational settings. This project won the Libre Software contest in Galicia, Spain.",
        link: "http://www.mancomun.org/es/no_cache/actualidade/detalledenova/nova/a-osl-da-usc-gana-o-premio-eganet-2009-na-categoria-software-libre/",
        images: [
            '/images/projects/oslusc/1.jpeg',
            '/images/projects/oslusc/2.jpeg',
            '/images/projects/oslusc/3.jpeg',
        ]
    },
];


---


<PageLayout meta={meta}>

  	<section class="mx-auto relative mt-10 ">
		<div class="gap-8 flex flex-col md:flex-row-reverse items-center justify-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" width="100%" height="100%"
			class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/4 w-full max-w-none h-auto pointer-events-none" >
				<defs>
					<!-- patrón de cuadrícula -->
					<pattern id="grid" width="24" height="24" patternUnits="userSpaceOnUse">
					<path d="M0 24 H24" fill="none" stroke="#38bdf8" stroke-opacity=".15" stroke-width="1"/>
					<path d="M24 0 V24" fill="none" stroke="#38bdf8" stroke-opacity=".15" stroke-width="1"/>
					</pattern>

					<!-- degradado radial para difuminar bordes -->
					<radialGradient id="fadeMask" cx="50%" cy="50%" r="70%">
					<stop offset="70%" stop-color="white" stop-opacity="1"/>
					<stop offset="100%" stop-color="white" stop-opacity="0"/>
					</radialGradient>

					<!-- máscara usando elipse con gradiente -->
					<mask id="softMask">
					<rect width="100%" height="100%" fill="black"/>
					<ellipse cx="400" cy="200" rx="360" ry="140" fill="url(#fadeMask)" />
					</mask>
				</defs>

				<!-- cuadrícula con máscara difuminada -->
				<rect width="100%" height="100%" fill="url(#grid)" mask="url(#softMask)"/>
			</svg>
			<div class="w-full md:w-1/3 flex justify-center mb-6 md:mt-0 relative">
				<div
    				style={{ backgroundColor: 'color-mix(in srgb, #FFF8F3, transparent 50%)' }}
					class="size-40 md:size-72 animate-amoeba absolute md:mr-12 -top-1 md:-top-3 z-0"></div>
				<Image src={profilePic} alt="Fran Dieguez" class="size-36 md:size-64 relative z-10 md:mr-12 rounded-full" />
			</div>
			<div class="w-full md:w-2/3 text-center md:text-left">
				<h1 class="text-4xl font-bold mb-6">
					<div style="min-height:5rem;" class="title text-3xl md:text-4xl bg-gradient-to-r -mt-6 from-accent-two via-accent-one to-accent-two bg-clip-text text-transparent">
						Hey, I'm Fran
					</div>
				</h1>
				<p class="mt-0 mb-4 text-lg font-medium">
        I've been developing web applications as a Full Stack Developer since 2006.
        I've been in multiple positions thoughtout my career, from a software developer,
        lead developer, CTO, and Head of Research and Development.
        </p>
        <p> The objective on each project is to create useful tools that make impact on users.  </p>

			</div>
		</div>
	</section>


	<div class="prose prose-citrus max-w-none">
      I've worked with a wide range of technologies over the years:
      <ul>
        <li>
          On the server side, I've built products using Ruby, PHP, and Node.js, and also explored Golang for developing scalable microservices and distributed systems.
        </li>
        <li>
          On the client side, my journey started with the early days of the web — from VanillaJS and jQuery, through AngularJS and Angular 2, and finally to React, which has become my main focus for building modern, high-performance interfaces.
        </li>
      </ul>
      <p>
        From a technical standpoint, my main interests revolve around web performance optimization,
        <a
          href="https://github.com/frandieguez"
          rel="noopener noreferrer"
          target="_blank"
        >
          sustainable engineering
        </a>
        , and the promotion of open-source technologies that foster collaboration and long-term maintainability.
      </p>

        <Workline items={workItems} />

        <p>
          Whenever not thinking on software development:

          <ul>
            <li >

              I can be found contributing
              to{' '}
              <a
                href="https://www.ohloh.net/accounts/frandieguez"
                rel="noopener noreferrer"
                target="_blank"
              >
                open-source projects
              </a>{' '}
              👨‍💻 like <strong>GNOME</strong> (as a member of the GNOME
              Foundation) or in Ubuntu as Galician translators coordinator,
              <a
                href="https://www.amazon.com/gp/pdp/profile/A362F32UBZHEUR"
                rel="noopener noreferrer"
                target="_blank"
              >
                reading
              </a>
            </li>

            <li>

              or doing sports like Crossfit and snowboard 🏂.
            </li>
          </ul>
        </p>
        <p>
          Currently I'm <strong>not available for hire</strong> but you can
          write me to propose me future and innovative projects.
        </p>
      </div>


	</div>

</PageLayout>
