---
import { Icon } from "astro-icon/components";
import Badge from '@/components/Badge.astro';

interface Props {
    tags?: string[];
}

const { tags } = Astro.props;
---

<div class="flex items-start gap-2">
    <Icon
        aria-hidden="true"
        class="flex-shrink-0 inline-block h-6 w-6 text-accent-base"
        focusable="false"
        name="solar:tag-line-duotone"
    />
    <div class="flex items-center gap-2 flex-wrap">
        {
            tags?.length ? (
                <>
                    {tags.map((tag) => (
                        <a  aria-label={`View all posts with the tag: ${tag}`} href={`/tags/${tag}`}>
                            <Badge variant="accent-two" title={tag} />
                        </a>
                    ))}
                </>
            ) : (
                    <span class="text-sm text-lightest">No tags</span>
            )
        }
    </div>
</div>